streamlit
pandas
numpy<2.0,>=1.24
plotly
openpyxl
pywhatkit
PyPDF2
python-docx
feedparser
requests
streamlit-lottie
supabase==2.16.0
python-dotenv==1.1.1
httpx==0.28.1
pyautogui
st-supabase-connection==2.1.0
streamlit-cookies-manager==0.2.0
spacy==3.7.5
pt_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.7.0/pt_core_news_sm-3.7.0-py3-none-any.whl